* {
padding:0px;
margin:0px;
font-family: sans-serif;
}

.global_message {
    display:flex;
}

.users {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    border: solid 1px black;
    background-color: white;
    flex-grow:1;
    flex-basis:25%;
}

/*.users .person:hover {
    cursor: pointer;
}*/

.profile {
    display: flex;
    flex-direction:row;
    align-items:center;
}

.icon {
    display:flex;
    list-style-type:none;
    gap:20%;
    padding:0 1.5em 0 0;
}

/*.profile ul.icon {
    display:flex;
    justify-content:center;
    list-style-type:none;
    gap:15%;
    padding:0 0.7em 0 0;
}*/

.profile .text-user {
    display:block;
    flex-direction:column;
    flex-basis:50%;
}

.profile .icon .active {
    display:none;
}

.person {
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:flex-start;
    border: 1px solid black;
}

.person:hover {
    background-color:rgb(164, 144, 210, 0.7);
    cursor: pointer;
}

.text-user {
    display:flex;
    flex-direction:column;
    flex-basis:50%;
}

.person .text-user span {
    font-size:0.8em;
    text-align:left;
    color: grey
}

/*.person .icon {
    display:flex;
    flex-direction:row;
    gap:10px;
    padding:0 5px 0 15px;
}*/

.users .person p {
    font-size:1.1em;
    letter-spacing: 1px;
}
/*vertical-align: text-bottom;*/

.person img {
    border-radius: 50%;
    width: 2.5em;
    margin:10px 10px 10px 20px;
}

.profile img {
    border-radius: 50%;
    width: 2.5em;
    margin:10px 10px 10px 20px;
}

/*ADD PERSON*/

.add-person {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-basis: 100px;
    border: 1px solid black;
}

/*BUTTON*/
button {
    background-color:rgb(164, 144, 210);
    border:1px solid rgb(51, 0, 153);
    color:white;
    cursor:pointer;
    text-align:center;
    font-size:1.2em;
    display:inline-block;
    padding: 10px 32px;
    border-radius:8px;
}

/* MESSAGE SECTOR*/
.message {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border: solid 1px black;
    background-color: lightgrey;
    flex-grow:3;
}

.message img {
    width:30%;
}

.message > h2 {
    font-size:2.5em;
    color:black;
    padding: 10px 0;
}

.message > p {
    text-align: center;
    padding:0 20%;
    letter-spacing: 1px;
}

footer {
    display:none;
}

/*SCREEN BEHAVIOUR*/
@media screen and (max-width: 391px) {
    .users{
        flex-basis:100%;
    }

    .profile .text-user p {
        font-size:1.6em;
        text-transform:uppercase;
    }

    .profile .icon {
        padding:0px;
    }

    .users .person p {
        font-size:1.0em;
    }

    .person .text-user span {
    font-size:1em;
    text-align:left;
    }

    .person img {
        border-radius: 50%;
        width: 4em;
        margin:10px 10px 10px 20px;
    }

    ul.icon {
        justify-content:flex-end;
        padding: 0 0.4em 0 1.3em;
    }

    .profile .icon .active {
        display:block;
    }

    div.add-person{
        display:none;
    }
    /*.person .icon {
    padding:0 20% 0 35%;
    }*/

    .person .text-user p {
        font-size:1.8em;
    }

    .icon .fa-lg {
        font-size: 1.8em;
        padding:3px;
    }

    .message {
        display:none;
    }

    footer {
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        border: solid 1px black;
        background-color: rgb(164, 144, 210, 0.6);
        height: 10%;
        width:100%;
        position: fixed;
        bottom: 0;
    }

    ul {
        display:flex;
        justify-content:space-around;

        list-style-type:none;
        width:100%;
    }

    i.fa-lg {
        font-size:150%;
    }

}