* {
padding:0px;
margin:0px;
}

.global_message {
    display:flex;
}

.users {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    border: solid 1px black;
    background-color: aqua;
    flex-grow:1;
    flex-basis:20%;
}

.person {
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:flex-start;
    border: 1px solid black;
}

.text-user {
    display:flex;
    flex-direction:column;
}

.state {
    font-size:1em;
    color:grey;
}

.person .icon {
    display:flex;
    flex-direction:row;
    gap:10px;
    padding:0 0 0 20%;
}

.users .person p {
    font-size:1.1em;
    letter-spacing: 1px;
}
/*vertical-align: text-bottom;*/

.person img {
    border-radius: 50%;
    width: 2.5em;
    margin:10px 10px 10px 20px;
}

/*ADD PERSON*/

.add-person {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-basis: 100px;
    border: 1px solid black;
}

button {
    background-color:rgb(153, 153, 255);
    border:1px solid rgb(51, 0, 153);
    color:white;
    cursor:pointer;
    text-align:center;
    font-size:1.2em;
    display:inline-block;
    padding: 10px 32px;
    border-radius:8px;
}

/* MESSAGE SECTOR*/
.message {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border: solid 1px black;
    background-color: lightgrey;
    flex-grow:3;
}

.message img {
    width:30%;
}

.message > h2 {
    font-size:2.5em;
    color:black;
    padding: 10px 0;
}

.message > p {
    text-align: center;
    padding:0 20%;
    letter-spacing: 1px;
}

/*SCREEN BEHAVIOUR*/
@media screen and (max-width: 391px) {
    .users{
        flex-basis:100%;
    }

    .users .person p {
    font-size:1.0em;
    }

    .state {
        font-size:0.8em;
        color:grey;
    }

    .person img {
        border-radius: 50%;
        width: 4em;
        margin:10px 10px 10px 20px;
    }

    .person .icon {
    padding:0 0 0 35%;
    }

    .person .text-user p {
        font-size:2em;
    }

    .icon .fa-lg {
        font-size: 1.8em;
        padding:3px;
    }

    .message {
        display:none;
    }

}