* {
    padding:0;
    margin:0;
}

body {
    --principal: dodgerblue;
    --second: rgb(236, 236, 236);
    --third: white;
    --footer:pink;
    --number: blue;

    --height-head: 5rem;

    --font-m-f: #f7f7f7;

    width:1500px;
    padding: 0 1.1rem;
    margin: 0 10%;
    font-family: Arial;
}

.grid-container {
    display:grid;
    grid-template-columns: auto repeat(4, 22%);
    grid-template-areas:
    "menu nav nav nav nav"
    "menu main main main main"
    "menu main main main main"
    "footer num_list num_list num_list num_list"
}

.icon-styles {
    color: var(--font-m-f);
}

nav {
    grid-area: nav;
    background: var(--second);
    text-align: center;

    height: var(--height-head)
}

menu {
    grid-area: menu;
    min-height: 100vh;
    background: var(--principal);
    text-align: center;
}

menu .list {
    display:flex;
    flex-direction:column;
}

menu .list ul {
    list-style: none;
}

menu .list ul li {
    padding: 0.5rem 0;
    color:var(--font-m-f);
}

.head {
    height: var(--height-head);
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.5rem;
}

main {
    grid-area:main;
    background: var(--third);
    grid-area:main;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    margin:0.25rem;
    height: 500px;
    display:flex;
    display-basis:3;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

section {
    grid-area:num_list;
    background: var(--number);
}

footer {
    grid-area:footer;
    background: var(--footer);
    color: var(--font-m-f);
    height:6rem;
}


/*TABLET*/
/*@media (max-width:1070px) {
    body {
    width:auto;
    margin:0;
    padding:0;
    }

    .grid-container {
        display:grid;
        grid-template-columns: auto repeat(2, 40%);
        grid-template-areas:
        "menu menu menu"
        "nav main main"
        "nav main main"
        "nav num_list num_list"
        "footer footer footer"
    }

    menu {
        grid-area:menu;
        background: var(--principal);
        text-align: center;
        min-height: 0.2vh;
    }

    nav {
        min-height: 100vh;
    }

    main {
    grid-area:main;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    }
}

/*SMARTPHONES
@media (max-width:576px) {
    body {
    width:auto;
    margin:0;
    padding:0;
    }

    .grid-container {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "menu"
        "nav"
        "main"
        "num_list"
        "footer"
    }

    menu {
    grid-area:menu;
    min-height: 0.2vh;
    padding:0;
    }

    main {
    grid-area:main;
    display:grid;
    grid-template-columns: auto;
    }

    .card img {
    height: 90%;
    width: 90%;
    padding: 0 auto;
    }
}
*/