* {
    padding:0px;
    margin:0px;
}

body {
--principal: dodgerblue;
--second: grey;
--third: white;
--prueba:pink;
}

.grid-container {
    display:grid;
    grid-template-columns: auto repeat(2, 40%);
    grid-template-areas:
    "nav nav nav"
    "menu main main"
    "menu main main"
    "footer footer footer"
}

nav {
    background: var(--principal);
    text-align: center;
    padding:1.1rem;
    text-transform: uppercase;
    grid-area: nav;
}

menu {
    grid-area:menu;
    min-height: 100vh;
    background: var(--prueba);
}

nav, menu, main {
    border: 1px solid black;
    margin: .2rem;
}

menu, main {
    padding: 1.02rem;
}

menu h2 {
    padding-bottom: .5rem;
    font-weight:800;
}

menu ul {
    display:flex;
    flex-direction:column;
    padding-left:0.8rem;
    list-style:none;
}

.items {
    display:flex;
    gap:0.2rem;
}

main {
    grid-area:main;
}

footer {
    grid-area:footer;
    background: var(--third);
    text-align: center;
    padding:1.1rem;
}